*.o
*.lo
*.la
*~

.deps/
.libs/
.dirstamp

stamp-h1
config.log
config.status
Makefile
autom4te.cache/
aclocal.m4
libtool

uth/examples/bin/bin
uth/examples/bin_lambda/bin_lambda
uth/examples/flat/flat
uth/examples/host/host
uth/examples/nqueens/nqueens
uth/examples/overhead/overhead
uth/examples/plain/plain
uth/examples/uts/uts

comm/examples/one_sided/one_sided
comm/examples/perf/perf
comm/include/madm/madm_comm_acconfig.h
misc/madmrun/madm_disable_aslr
